#version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app/src
    environment:
      FLASK_APP: main.py
      FLASK_ENV: production

  nginx:
    image: nginx:latest
    ports:
      - "8001:8001"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # монтируется как только для чтения.
      - ./app/static/:/usr/share/nginx/html/ # монтируются в контейнер.
    depends_on:
      - web

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - log_destination=stderr
      - logging_collector=on
    ports:
      - "5432:5432"
    volumes:
      - ./app/database/:/var/lib/postgresql/data